body {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

main {
    width: min(95vw, 600px);
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--clr-h1);
}

.add-post-form {
    display: grid;
    gap: 1.5rem;
}

.form-group {
    display: grid;
    gap: 0.5rem;
}

.form-group label {
    font-weight: 600;
    color: var(--clr-h2);
}

.form-input {
    width: 100%;
    padding: 0.75rem;
    border-radius: 5px;
    border: 2px solid var(--clr-border-neon);
    background-color: var(--clr-bg2);
    color: var(--clr-p);
    outline: none;
    transition: border-color 0.3s ease;
}

.form-input:focus {
    border-color: color-mix(in hsl, var(--clr-border-neon), white 20%);
}

.btn {
    justify-self: center;
    width: 50%;
}

#file-tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
}

.file-tag span {
    margin-right: 0.5rem;
}

.remove-file-btn {
    background: none;
    border: none;
    color: var(--clr-p);
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0;
    line-height: 1;
}

.remove-file-btn:hover {
    color: var(--clr-h1);
}


.file-tag {
    font-size: 0.85rem;
    padding: 2px 8px;
    border-radius: 30rem;
    transition: background-color 0.3s ease;
    border: 2px solid var(--clr-p);
    display: flex;
    gap: 1ch;
    align-items: flex-end;

}

.file-tag:hover {
    background-color: color-mix(in hsl, var(--clr-p), transparent 80%);
}

.error-message {
    background-color: #ff5252;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    text-align: center;
}