.tag-container {
    width: 100%;
    height: 4lh;
    padding: 10px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 30%); /* var(--color-bg-700) */
    gap: 10px 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: auto;
    border: 2px solid transparent;
}

.tag-container:not(.tags-full) {
    cursor: text;
}

.tag-container:not(.tags-full):has(:focus-visible) {
    border-color: hsl(0, 0%, 40%); /* var(--color-outline) */
}

.tag {
    background-color: hsl(0, 0%, 20%); /* var(--color-bg-800) */
    padding: 0.2em 0.4em;
    border-radius: 5px;
    font-size: 0.9rem;
    display: inline-flex;
    gap: 0.5ch;
    align-items: center;
}

.tag.duplicate {
    position: relative;
}

.tag.duplicate::after {
    content: "";
    position: absolute;
    inset: 0;
    animation: shimmerTag 0.75s ease-in;
    background: linear-gradient(105deg, transparent 40%, hsl(0, 0%, 30%) 50%, transparent 60%);
    background-position-x: 100%;
    background-size: 300%;
}

@keyframes shimmerTag {
    to {
        background-position-x: 0;
    }
}

.tag-input {
    color: hsl(0, 0%, 100%); /* var(--color-text-light) */
    background-color: transparent;
    border: none;
    outline: none;
    caret-color: hsl(0, 0%, 100%);
}

.tag-input.short {
    max-width: 11ch;
}

.tag-container.tags-full .tag-input {
    display: none;
}

.tag-input::placeholder {
    color: hsl(0, 0%, 70%); /* var(--color-bg-200) */
}

.remove-tag {
    cursor: pointer;
}

.suggestions-container {
    position: absolute;
    width: calc(100% - 4px);
    background-color: hsl(0, 0%, 25%);
    border-radius: 5px;
    margin-top: 40px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: hsl(0, 0%, 35%);
}

