<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item">
            <a href="/" class="nav__link hoverable-white nulled-link" >Home</a>
        </li>
        <li class="nav__item">
            <a href="/posts" class="nav__link hoverable-white nulled-link" >Posts</a>
        </li>
        <li class="nav__item">
            <a href="/add-post" class="nav__link hoverable-white nulled-link" >Add Post</a>
        </li>
    </ul>
</nav>